.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 5);
  margin-top: 54px;
  margin-bottom: $jumbotron-padding;
  background-color: $jumbotron-bg;
  //background-image: url('../../assets/images/hero-placeholder-wide.jpg');
  background-image: url('../../assets/images/hero-placeholder-color-wide.jpg');
  background-position-x: 75%;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 5) $jumbotron-padding;
  }
}

.jumbotron-hr {
  border-top-color: darken($jumbotron-bg, 10%);
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}
