.jumbotron {
  padding: $jumbotron-padding*2 ($jumbotron-padding / 5) 0 ($jumbotron-padding / 5);
  margin-top: 54px;
  margin-bottom: $jumbotron-padding;
  background-color: $brand-primary;
  @include border-radius($border-radius-lg);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 4) $jumbotron-padding 0 $jumbotron-padding;
  }
}

.jumbotron-hr {
  border-top-color: darken($jumbotron-bg, 10%);
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  @include border-radius(0);
}

.jumbotron .container {
  padding: 0;
}

.jumbotron img {
  max-width: 100%;
}

.jumbotron h1 {
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
}

.jumbotron .subheading {
  @include media-breakpoint-down(md) {
    font-size: 1rem;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 4rem;
  }
}
